@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

*{
  padding: 0;
  margin: 0;
}

header{
  padding: 30px 0px;
  background: rgb(245,245,245);
}

.header-title{
  text-align: center;
  font-size: 40px;
  padding: 10px 0px;
  font-family: 'Roboto', sans-serif;
}

.header-text{
  font-weight: 100;
  text-align: center;
}

.hedaer-img{
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

img{
  width: 700px;
}

.header-links{
  text-align: center;
  padding: 10px 0px;
}

.products{
  background: #6F2CFF;
  color: white;
  padding: 6px 20px;
  text-decoration: none;
  border-radius: 30px;
}
.demo{
  color: #6F2CFF;
  background: white;
  padding: 6px 20px;
  text-decoration: none;
  border-radius: 30px;
}

.brands{
  padding: 30px 0px;
}

.cards{
  text-align: center;
  padding: 30px 0px;
}

.card{
  width: 320px;
  border-radius:10px;
  text-align: center;
  background: rgb(218,217,217);
  display: inline-block;
  margin-left: 15px;
}

.card img{
  width: 100%;
}

.card h3{
  padding: 10px 0px;
}
.card p{
  padding: 0px 20px 40px;
}

.service{
  padding: 30px 0px;
  background: rgb(218,217,217);
}

.boxes{
  text-align: center;
}

.box{
  display: inline-block;
  background: rgb(23,0,46);
  color: white;
  width: 450px;
  text-align: left;
  padding: 15px 20px 30px;
  margin: 10px;
  border-radius: 10px;
}

.box img{
  width: 30px;
}
.box h4{
  display: inline;
}

.box p{
  padding: 10px 0px;
}

.box-text{
  display: inline;
  border-bottom: 2px solid white;
}
